<h5>LIST USERS</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Contries</th>
      <th scope="col" style="width: 200px; text-align:center;">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.address}}</td> 
      <td>{{this.city}}</td>
      <td>{{this.contries}}</td>
      <td style="text-align: center;">
            <a href="#" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a> | 
            <a href="/users/{{this._id}}/edit" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a> | 
            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#idUser"><i class="fa-solid fa-trash-can"></i></a> 
      </td>
    </tr>
    {{else}}
      <tr class="text-center">
        <td colspan="6">Bạn chưa thêm người dùng nào. <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"> Thêm người dùng</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Page navigation example "></nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{{!-- confirm delete --}}
<!-- Modal -->
<div class="modal fade" id="idUser" tabindex="-1" aria-labelledby="idUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa người dùng?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa người dùng?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-user" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- form-delete --}}
<form name="delete-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', function(){
      var userId;
      var btnDelete = document.getElementById('btn-delete-user');
      var deleteForm = document.forms['delete-form'];

      $('#idUser').on('show.bs.modal', function(e){
        var button = $(e.relatedTarget);
        userId = button.data('id');
      })

      btnDelete.onclick = function(){
        deleteForm.action = '/users/' + userId + '?_method=delete';
        deleteForm.submit();
      }
  })
</script>